TYPEORM_CONNECTION = postgres
TYPEORM_HOST = ec2-54-228-243-29.eu-west-1.compute.amazonaws.com
TYPEORM_USERNAME = nicppxatnqkohg
TYPEORM_PASSWORD = 25b1246fc53999afc9ca5c7f19000bf47f0d25808bd5c349f9a800ca71d12f08
TYPEORM_DATABASE = d8g3tdol6204b
TYPEORM_PORT = 5432
TYPEORM_SYNCHRONIZE = true
TYPEORM_ENTITIES = src/entity/**/*.ts
TYPEORM_MIGRATIONS = src/migration/**/*.ts
TYPEORM_SUBSCRIBERS = src/subscriber/**/*.ts
TYPEORM_ENTITIES_DIR = src/entity
TYPEORM_MIGRATIONS_DIR = src/migration
TYPEORM_LOGGING = true
TYPEORM_DRIVER_EXTRA = {"ssl": true}
DATABASE_URL = postgres://nicppxatnqkohg:25b1246fc53999afc9ca5c7f19000bf47f0d25808bd5c349f9a800ca71d12f08@ec2-54-228-243-29.eu-west-1.compute.amazonaws.com:5432/d8g3tdol6204b
AWS_ACCESS_KEY = AKIAJ55IXBBICADIWXHA
AWS_SECRET_KEY = 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
AWS_S3_BUCKET = gostivarapp-dev
AMQP_CONNECTION_URL = amqp://itkpgxvg:WnmuG9JJxzOqRHsbJc4c_hVkiz-0a9-F@hedgehog.rmq.cloudamqp.com/itkpgxvg